.mainWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  overflow: hidden;
  min-height: 0;
}

@media (max-width: 768px) {
  .mainContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
}
.stadiumListWrapper {
flex: 1;
overflow-y: auto;
// height: 100%;
// padding: 1rem;
scroll-behavior: smooth;

// min-height: 0; // ensure flex/grid children can shrink properly
}

.stadiumDetailsWrapper {
  flex: 1;
  overflow: hidden;
}

.stadiumDetails {
  height: 100%;
  overflow-y: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 3px var(--secondary-bg_color) double;
}

.filters {
  display: flex;
  align-items: center;
  gap: 1em;
}

.input {
  padding: 0.5em;
  border: 1px solid var(--secondary-bg_color);
  border-radius: 0.25em;
  margin: 0 0.5em;
}

.stadiumRow {
  border-bottom: 1px solid var(--secondary-bg_color);
  padding: 0.5em;
  cursor: pointer;
}

.navBtn {
  background-color: var(--secondary-bg_color);
  color: whitesmoke;
  padding: 0.5em;
  border: none;
  border-radius: 0.25em;
  cursor: pointer;
}
